@using StockRequestApprovalWeb.Models
@model List<StockRequestApprovalWeb.Models.StockRequestApproveData>
@{
	ViewBag.Title = "All Requests";
}

<h2>Index</h2>

<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Created</th>
			<th scope="col">Created By</th>
			<th scope="col">Status</th>
			<th scope="col">Approved By</th>
			<th scope="col">Data</th>
			<th scope="col">Delivered On</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<th>@item.OriginalItem["Created"]</th>
				<th>@(((Microsoft.SharePoint.Client.FieldUserValue)item.OriginalItem["Author"]).LookupValue)</th>
				<th>@item.Status.ToUserFriendlyString()</th>
				<th>
					@{string str = "";}
					@foreach (var i in item.ApprovedBy)
					{
						str += i.LookupValue + ", ";
					}
					@{
						if (str.LastIndexOf(", ") != -1)
						{
							str = str.Remove(str.LastIndexOf(", "));
						}
						WriteLiteral(str);
					}
				</th>
				<th>
					<button onmouseover="$('#@item.OriginalItem["ID"]').css('visibility', 'visible')" onmouseout="$('#@item.OriginalItem["ID"]').css('visibility', 'hidden')" class="btn btn-primary btn-sm">Show Items</button>
					<div id="@item.OriginalItem["ID"]" style="position:fixed;visibility:hidden;background-color:white;border: solid black 2px">
						@foreach (var sItem in item.Items)
						{
							WriteLiteral(sItem.Title + " - " + sItem.Amount + " for " + sItem.TotalPrice + " €");
							WriteLiteral("<br>");
						}
					</div>
				</th>
				<th>@item.DeliveredOn</th>
				<th>
					@if (item.Status == Status.WaitingForApproval)
					{
						<button class="btn btn-success btn-sm"><span class="glyphicon glyphicon-ok" /></button>
						<button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove" /></button>
					}
				</th>
			</tr>
						}
	</tbody>
</table>