@using StockRequestApprovalWeb.Models
@model List<StockRequestApprovalWeb.Models.StockRequestApproveData>
@{
	ViewBag.Title = "All Requests";
}
<style>
.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
<h2>Index</h2>

<div id="dataTable">
	@Html.Partial("ROPartial", Model)
	<div class="loader" style="margin: 0 auto"></div>
</div>


@Scripts.Render("~/bundles/jquery")
<script>
	var refreshing = false;
	function Show(id, AR) {
		if ($("#" + id).prev("span").css("display") == "none")
		{
			//window.open("@Request.Url.Scheme://@Request.Url.Authority/Response/" + (AR == 'A' ? "Approve" : "Reject") + "?guid=" + id.slice(1), '_blank');

			var parent = $("#" + id).closest("th");
			parent.children().each(function () { $(this).remove(); });
			parent.append('<div class="loader" style="width: 20px; height: 20px;border: 5px solid #f3f3f3;border-top: 5px solid #3498db;margin: 0 auto;margin-left: 25px;"></div>');

			$.ajax({
				url: "Response/" + (AR == 'A' ? "Approve" : "Reject"),
				data: "guid=" + id.slice(1),
				type: "post"
			}).done(function (result) {
				console.dir(result);
				if (result == "Authentication required")
					window.location = "@Request.Url.Scheme://@Request.Url.Authority/Authenticate/Authenticate";
				else if (result.includes("There is nothing more to do. Everything was saved."))
				{
					parent.children().each(function () { $(this).remove(); });
					parent.append("Saved.");
					if (!refreshing) Refresh();
				}
				else
				{
					var tr = parent.parent();
					parent.parent().children().each(function () { $(this).remove(); });
					tr.append(result);
				}
		});
			//setTimeout(Refresh, 1500);
		}
		$("#" + id).css("display", "inline");
		$("#" + id).prev("span").css("display", "none");
		if (AR == 'A')
			$("#" + id).parent().next("button").css("display", "none");
		else {
			$("#" + id).parent().css({ "padding-right": "15px", "padding-left": "15px" });
			$("#" + id).parent().prev("button").css("display", "none");
		}
	}
	function Hide(id, AR) {
		$("#" + id).css("display", "none");
		$("#" + id).prev("span").css("display", "inline");
		if (AR == 'A')
			$("#" + id).parent().next("button").css("display", "inline");
		else {
			$("#" + id).parent().css({ "padding-right": "10px", "padding-left": "10px" });
			$("#" + id).parent().prev("button").css("display", "inline");
		}
	}
	function Refresh()
	{
		refreshing = true;
		$.ajax({
			url: "RequestsOverview/ROPartial",
			type: "post"}).done(function (result) {
				if (result == "Authentication required")
					window.location = "@Request.Url.Scheme://@Request.Url.Authority/Authenticate/Authenticate";
				else
					$("#dataTable").html(result);
				refreshing = false;
		});
	}
	Refresh();
</script>